*{
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    background-color: rgb(158, 158, 158);
    font-size: 1.3rem;
}

header{
    background-color: white;
    width: 390px;
    height: 50px
    ;
}

header a{
    font-size: 1.1rem;
}

nav{
 color: white;

}

a{
    text-decoration: none;
    color: grey;
    padding: 10px;
}

a:hover{
    padding: 0px 4px;
    border-radius: 8px;
    background-color: rgb(190, 190, 190);
}

.UR{
    color: black;
    text-decoration: underline;

}

.logo_UR a{
    color: white;
    text-decoration: underline;
}

.logo_UR img{
    border-radius: 8px;
}

.robo_colaborativo a{
    color: white;
    text-decoration: underline;
}

.robo_ur a{
    color: white;
    text-decoration: underline;
}

.modelos_ur img{
    border-radius: 8px;
}

.modelos_ur a{
    color: white;
    text-decoration: underline;
}

footer{
    background-color: white;
}

.video_robo a{
    color: white;
    text-decoration: underline;
}

.endereco_robots a{
    color: white;
    text-decoration: underline;
}