body{
    text-align: center;
    background-color: rgb(136, 136, 136);
}

nav{
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover{
    padding: 0px 4px;
    border-radius: 8px;
    background-color: rgb(189, 189, 189);
}

.UR{
    color: black;
    text-decoration: underline;

}